openapi: 3.0.1
info:
  title: WeTravel Partner Access token Not Included items API
  version: 2.0.0
  description: WeTravel Partner API — Trip Builder, Bookings/Orders, Payments (payment links), Transactions, Suppliers and Leads. Enables travel companies to programmatically create WeTravel trip and booking pages and sync customers, orders and transactions. Harvested from the WeTravel Developer Hub per-endpoint OpenAPI fragments (developer.wetravel.com). Paths normalized to the https://api.wetravel.com/v2 base.
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://developer.wetravel.com/reference (per-endpoint OpenAPI fragments, merged; paths normalized to the /v2 base)
    note: Harvested v2 Partner API. Current release is v3 (2026-02-01); see changelog/.
servers:
- url: https://api.wetravel.com/v2
  description: Production
- url: https://api.demo.wetravel.to/v2
  description: Sandbox
security:
- bearerAuth: []
- tokenAuth: []
tags:
- name: Not Included items
paths:
  /draft_trips/{trip_uuid}/not_included_items:
    post:
      tags:
      - Not Included items
      summary: Create not included item
      description: Create NotIncluded
      operationId: createNotIncludedItem
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/CreateNotIncluded'
        required: true
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NotIncluded'
    get:
      tags:
      - Not Included items
      summary: List not included items
      description: Get Not Included items
      operationId: getNotIncludedItems
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get Not Included items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NotIncluded'
  /draft_trips/{trip_uuid}/not_included_items/{id}:
    delete:
      tags:
      - Not Included items
      summary: Delete not included item
      description: Delete NotIncluded
      operationId: deleteV1NotIncludesId
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the not included item
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Delete NotIncluded
          content: {}
    get:
      tags:
      - Not Included items
      summary: Get not included item
      description: Get NotIncluded
      operationId: getNotIncludedItemById
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the not included item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get NotIncluded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NotIncluded'
    patch:
      tags:
      - Not Included items
      summary: Update not included item
      description: Update NotIncluded
      operationId: updateNotIncludedItem
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the not included item
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UpdateNotIncluded'
        required: true
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NotIncluded'
components:
  schemas:
    UpdateNotIncluded:
      type: object
      properties:
        title:
          type: string
          description: Title of the not included item
          example: Flight tickets
        description:
          type: string
          description: Description of the not included item
          example: Flight tickets included for this trip
      description: Update NotIncluded
    CreateNotIncluded:
      required:
      - title
      type: object
      properties:
        title:
          type: string
          description: Title of the not included item
          example: Flight tickets
        description:
          type: string
          description: Description of the not included item
          example: Flight tickets included for this trip
      description: Create NotIncluded
    NotIncluded:
      required:
      - title
      - trip_uuid
      type: object
      properties:
        id:
          type: integer
          description: ID of the not included item
          format: int32
          example: 77
        trip_uuid:
          type: string
          description: Unique ID of the trip
          example: '105544110'
        title:
          type: string
          description: Title of the not included item
          example: Flight tickets
          default: Flight tickets
        description:
          type: string
          description: Description of the not included item
          example: Flight tickets included for this trip
          default: Flight tickets included for this trip
        created_at:
          type: integer
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: int32
          example: 134543
      description: NotIncluded model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    tokenAuth:
      type: apiKey
      in: header
      name: X-Api-Key
