openapi: 3.0.1
info:
  title: WeTravel Partner Access token Paragraphs API
  version: 2.0.0
  description: WeTravel Partner API — Trip Builder, Bookings/Orders, Payments (payment links), Transactions, Suppliers and Leads. Enables travel companies to programmatically create WeTravel trip and booking pages and sync customers, orders and transactions. Harvested from the WeTravel Developer Hub per-endpoint OpenAPI fragments (developer.wetravel.com). Paths normalized to the https://api.wetravel.com/v2 base.
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://developer.wetravel.com/reference (per-endpoint OpenAPI fragments, merged; paths normalized to the /v2 base)
    note: Harvested v2 Partner API. Current release is v3 (2026-02-01); see changelog/.
servers:
- url: https://api.wetravel.com/v2
  description: Production
- url: https://api.demo.wetravel.to/v2
  description: Sandbox
security:
- bearerAuth: []
- tokenAuth: []
tags:
- name: Paragraphs
paths:
  /draft_trips/{trip_uuid}/paragraphs:
    post:
      tags:
      - Paragraphs
      summary: Create paragraph
      description: Create Paragraph
      operationId: createParagraph
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/CreateParagraph'
        required: true
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Paragraph'
    get:
      tags:
      - Paragraphs
      summary: List paragraphs
      description: Get Paragraphs
      operationId: getParagraphs
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get Paragraphs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Paragraph'
  /draft_trips/{trip_uuid}/paragraphs/{id}:
    delete:
      tags:
      - Paragraphs
      summary: Delete paragraph
      description: Delete Paragraph
      operationId: deleteParagraph
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the paragraph.yml
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Delete Paragraph
          content: {}
    get:
      tags:
      - Paragraphs
      summary: Get paragraph
      description: Get Paragraph
      operationId: getParagraphById
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the paragraph.yml
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get Paragraph
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Paragraph'
    patch:
      tags:
      - Paragraphs
      summary: Update paragraph
      description: Update Paragraph
      operationId: updateParagraph
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the paragraph.yml
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UpdateParagraph'
        required: true
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Paragraph'
components:
  schemas:
    Paragraph:
      required:
      - text
      - title
      - trip_uuid
      type: object
      properties:
        id:
          type: integer
          description: ID of the paragraph
          format: int32
          example: 66
        trip_uuid:
          type: string
          description: Unique ID of the trip
          example: '105544110'
        title:
          type: string
          description: Title of the paragraph
          example: About this trip
          default: About this trip
        text:
          type: string
          description: Text of the paragraph
          example: This trip is going to be epic
          default: This trip is going to be epic
        created_at:
          type: integer
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: int32
          example: 122234
      description: Paragraph model
    UpdateParagraph:
      type: object
      properties:
        title:
          type: string
          description: Title of the paragraph.yml
          example: About this trip
        text:
          type: string
          description: Text of the paragraph.yml
          example: This trip is going to be epic
      description: Update Paragraph
    CreateParagraph:
      required:
      - text
      - title
      type: object
      properties:
        title:
          type: string
          description: Title of the paragraph.yml
          example: About this trip
        text:
          type: string
          description: Text of the paragraph.yml
          example: This trip is going to be epic
      description: Create Paragraph
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    tokenAuth:
      type: apiKey
      in: header
      name: X-Api-Key
