openapi: 3.0.1
info:
  title: WeTravel Partner Access token Included items API
  version: 2.0.0
  description: WeTravel Partner API — Trip Builder, Bookings/Orders, Payments (payment links), Transactions, Suppliers and Leads. Enables travel companies to programmatically create WeTravel trip and booking pages and sync customers, orders and transactions. Harvested from the WeTravel Developer Hub per-endpoint OpenAPI fragments (developer.wetravel.com). Paths normalized to the https://api.wetravel.com/v2 base.
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://developer.wetravel.com/reference (per-endpoint OpenAPI fragments, merged; paths normalized to the /v2 base)
    note: Harvested v2 Partner API. Current release is v3 (2026-02-01); see changelog/.
servers:
- url: https://api.wetravel.com/v2
  description: Production
- url: https://api.demo.wetravel.to/v2
  description: Sandbox
security:
- bearerAuth: []
- tokenAuth: []
tags:
- name: Included items
paths:
  /draft_trips/{trip_uuid}/included_items:
    post:
      tags:
      - Included items
      summary: Create included item
      description: Create Included
      operationId: createIncludedItem
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/CreateIncluded'
        required: true
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Included'
    get:
      tags:
      - Included items
      summary: List included items
      description: Get Included items
      operationId: getIncludedItems
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get Included items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Included'
  /draft_trips/{trip_uuid}/included_items/{id}:
    delete:
      tags:
      - Included items
      summary: Delete included item
      description: Delete Included
      operationId: deleteV1IncludesId
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the included item
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Delete Included
          content: {}
    get:
      tags:
      - Included items
      summary: Get included item
      description: Get Included item
      operationId: getIncludedItemById
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the included item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get Included item
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Included'
    patch:
      tags:
      - Included items
      summary: Update included item
      description: Update Included
      operationId: updateIncludedItem
      parameters:
      - name: trip_uuid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the included item
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UpdateIncluded'
        required: true
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Included'
components:
  schemas:
    UpdateIncluded:
      type: object
      properties:
        title:
          type: string
          description: Title of the included item
          example: Private yoga lesson
        description:
          type: string
          description: Description of the included item
          example: Private yoga lessons are not included
      description: Update Included
    Included:
      required:
      - title
      - trip_uuid
      type: object
      properties:
        id:
          type: integer
          description: ID of the included item
          format: int32
          example: 79
        trip_uuid:
          type: string
          description: Unique ID of the trip
          example: '105544110'
        title:
          type: string
          description: Title of the included item
          example: Private yoga lesson
          default: Private yoga lesson
        description:
          type: string
          description: Description of the included item
          example: Private yoga lessons are not included
          default: Private yoga lessons are not included
        created_at:
          type: integer
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: int32
          example: 144434
      description: Included model
    CreateIncluded:
      required:
      - title
      type: object
      properties:
        title:
          type: string
          description: Allows you to set the title of the included item
          example: Private yoga lesson
        description:
          type: string
          description: Allows you to set the description of the included item. This field allows HTML tags(b, i, a) for better formatting.
          example: Private yoga lessons are not included
      description: Create Included
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    tokenAuth:
      type: apiKey
      in: header
      name: X-Api-Key
