{
  "openapi": "3.0.1",
  "info": {
    "title": "WeTravel Partner API",
    "version": "2.0.0",
    "description": "WeTravel Partner API \u2014 Trip Builder, Bookings/Orders, Payments (payment links), Transactions, Suppliers and Leads. Enables travel companies to programmatically create WeTravel trip and booking pages and sync customers, orders and transactions. Harvested from the WeTravel Developer Hub per-endpoint OpenAPI fragments (developer.wetravel.com). Paths normalized to the https://api.wetravel.com/v2 base.",
    "x-apievangelist": {
      "generated": "2026-07-21",
      "method": "searched",
      "source": "https://developer.wetravel.com/reference (per-endpoint OpenAPI fragments, merged; paths normalized to the /v2 base)",
      "note": "Harvested v2 Partner API. Current release is v3 (2026-02-01); see changelog/."
    }
  },
  "servers": [
    {
      "url": "https://api.wetravel.com/v2",
      "description": "Production"
    },
    {
      "url": "https://api.demo.wetravel.to/v2",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Access token"
    },
    {
      "name": "Add-ons"
    },
    {
      "name": "Discounts"
    },
    {
      "name": "Images"
    },
    {
      "name": "Included items"
    },
    {
      "name": "Leads"
    },
    {
      "name": "Not Included items"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Packages"
    },
    {
      "name": "Paragraphs"
    },
    {
      "name": "Participant Information"
    },
    {
      "name": "Payment Links"
    },
    {
      "name": "Payment Plans"
    },
    {
      "name": "Suppliers"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Trip Overview"
    },
    {
      "name": "Trips"
    }
  ],
  "paths": {
    "/draft_trips/{trip_uuid}/discounts": {
      "post": {
        "tags": [
          "Discounts"
        ],
        "summary": "Create discount",
        "description": "Create Discount",
        "operationId": "createDiscount",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateDiscount"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Discount"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Discounts"
        ],
        "summary": "List discounts",
        "description": "Get Discounts",
        "operationId": "getDiscounts",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Discounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Discount"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/images": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Create image",
        "description": "Create Image",
        "operationId": "createImage",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateImage"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "List images",
        "description": "Get Images",
        "operationId": "getImages",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/included_items": {
      "post": {
        "tags": [
          "Included items"
        ],
        "summary": "Create included item",
        "description": "Create Included",
        "operationId": "createIncludedItem",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateIncluded"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Included"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Included items"
        ],
        "summary": "List included items",
        "description": "Get Included items",
        "operationId": "getIncludedItems",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Included items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Included"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/itineraries": {
      "post": {
        "tags": [
          "Trip Overview"
        ],
        "summary": "Create overview event",
        "description": "Create Overview Event",
        "operationId": "createItinerary",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateItinerary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Itinerary"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Trip Overview"
        ],
        "summary": "List overview events",
        "description": "Get Trip Overview",
        "operationId": "getItineraries",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Trip Overview",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Itinerary"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/not_included_items": {
      "post": {
        "tags": [
          "Not Included items"
        ],
        "summary": "Create not included item",
        "description": "Create NotIncluded",
        "operationId": "createNotIncludedItem",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateNotIncluded"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotIncluded"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Not Included items"
        ],
        "summary": "List not included items",
        "description": "Get Not Included items",
        "operationId": "getNotIncludedItems",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Not Included items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NotIncluded"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/options": {
      "post": {
        "tags": [
          "Add-ons"
        ],
        "summary": "Create add-on",
        "description": "Create Add-on",
        "operationId": "createOption",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateOption"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Option"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Add-ons"
        ],
        "summary": "List add-ons",
        "description": "Get Add-ons",
        "operationId": "getOptions",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Add-ons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Option"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/options/{option_id}/payment_plan": {
      "post": {
        "tags": [
          "Payment Plans"
        ],
        "summary": "Create or update add-on payment plan",
        "description": "Create new payment plan or update the existing one for the add-on",
        "operationId": "createOptionPaymentPlan",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "option_id",
            "in": "path",
            "description": "ID of the add-on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateOptionPaymentPlan"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentPlan"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Payment Plans"
        ],
        "summary": "Delete add-on payment plan",
        "description": "Delete payment plan for the add-on",
        "operationId": "deleteOptionPaymentPlan",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "option_id",
            "in": "path",
            "description": "ID of the add-on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete PaymentPlan",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Payment Plans"
        ],
        "summary": "Get add-on payment plan",
        "description": "Get payment plan for the add-on",
        "operationId": "getOptionPaymentPlans",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "option_id",
            "in": "path",
            "description": "ID of the add-on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get PaymentPlan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentPlan"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/packages": {
      "post": {
        "tags": [
          "Packages"
        ],
        "summary": "Create package",
        "description": "Create Package",
        "operationId": "createPackage",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreatePackage"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Package"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Packages"
        ],
        "summary": "List packages",
        "description": "Get Packages",
        "operationId": "getPackages",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Packages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Package"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/packages/{package_id}/payment_plan": {
      "post": {
        "tags": [
          "Payment Plans"
        ],
        "summary": "Create or update package payment plan",
        "description": "Create new payment plan or update the existing one for the package",
        "operationId": "createPackagePaymentPlan",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package_id",
            "in": "path",
            "description": "ID of the package",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreatePackagePaymentPlan"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentPlan"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Payment Plans"
        ],
        "summary": "Delete package payment plan",
        "description": "Delete payment plan for the package",
        "operationId": "deletePackagePaymentPlan",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package_id",
            "in": "path",
            "description": "ID of the package",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete PaymentPlan",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Payment Plans"
        ],
        "summary": "Get package payment plan",
        "description": "Get payment plan for the package",
        "operationId": "getPackagePaymentPlans",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package_id",
            "in": "path",
            "description": "ID of the package",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get PaymentPlan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentPlan"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/paragraphs": {
      "post": {
        "tags": [
          "Paragraphs"
        ],
        "summary": "Create paragraph",
        "description": "Create Paragraph",
        "operationId": "createParagraph",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateParagraph"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Paragraph"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Paragraphs"
        ],
        "summary": "List paragraphs",
        "description": "Get Paragraphs",
        "operationId": "getParagraphs",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Paragraphs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Paragraph"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment_links": {
      "post": {
        "tags": [
          "Payment Links"
        ],
        "summary": "Create payment link",
        "description": "Create a new payment link",
        "operationId": "createPaymentLink",
        "parameters": [
          {
            "name": "publish_immediately",
            "in": "query",
            "description": "Whether to publish the payment link immediately upon creation.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreatePaymentLink"
                  }
                }
              },
              "example": {
                "data": {
                  "trip": {
                    "title": "Amazing London Adventure",
                    "trip_id": "TRIP20",
                    "start_date": "2026-05-07",
                    "end_date": "2026-05-14",
                    "currency": "USD",
                    "participant_fees": "all"
                  },
                  "pricing": {
                    "price": 800,
                    "days_before_departure": 0,
                    "payment_plan": {
                      "allow_auto_payment": false,
                      "allow_partial_payment": false,
                      "deposit": 200,
                      "installments": [
                        {
                          "price": 350,
                          "days_before_departure": 60
                        },
                        {
                          "price": 250,
                          "days_before_departure": 30
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentLink"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ValidationError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "A token is not valid."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Payment Links"
        ],
        "summary": "List payment links",
        "description": "Get the list of all payment links",
        "operationId": "getPaymentLinks",
        "parameters": [
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of trips per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "example": 25,
              "default": 1000
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number (minimum:1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "publish_status",
            "in": "query",
            "description": "Filter payment links by publish status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "published",
                "draft"
              ],
              "default": "published"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentLink"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "A token is not valid."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/surveys": {
      "post": {
        "tags": [
          "Participant Information"
        ],
        "summary": "Create question",
        "description": "Create Participant Question",
        "operationId": "createSurvey",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateSurvey"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Survey"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Participant Information"
        ],
        "summary": "List questions",
        "description": "Get Participant Questions",
        "operationId": "getSurveys",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Participant Questions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Survey"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips": {
      "post": {
        "tags": [
          "Trips"
        ],
        "summary": "Create trip",
        "description": "Creating a \"draft\" trip object. Using the other endpoints of Trip builder you can enhance your trip object and eventually publish it.",
        "operationId": "createTrip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateTrip"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Trip"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ValidationError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "A token is not valid."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Trips"
        ],
        "summary": "List trips",
        "description": "Get the list of all trips",
        "operationId": "getTrips",
        "parameters": [
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of trips per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "example": 25,
              "default": 1000
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number (minimum:1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "exclude_payment_links",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Exclude payment links from the response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Trip"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "A token is not valid."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/images/{id}": {
      "delete": {
        "tags": [
          "Images"
        ],
        "summary": "Delete image",
        "description": "Delete Image",
        "operationId": "deleteImage",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the image",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Image",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Get image",
        "description": "Get Image",
        "operationId": "getImageById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the image",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Image",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Images"
        ],
        "summary": "Update image",
        "description": "Update Image",
        "operationId": "updateImage",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the image",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateImage"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/options/{id}": {
      "delete": {
        "tags": [
          "Add-ons"
        ],
        "summary": "Delete add-on",
        "description": "Delete Add-on",
        "operationId": "deleteOption",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the add-on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Add-on",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Add-ons"
        ],
        "summary": "Get add-on",
        "description": "Get Add-on",
        "operationId": "getOptionById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the add-on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Add-on",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Option"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Add-ons"
        ],
        "summary": "Update add-on",
        "description": "Update Add-on",
        "operationId": "updateOption",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the add-on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateOption"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Option"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/packages/{id}": {
      "delete": {
        "tags": [
          "Packages"
        ],
        "summary": "Delete package",
        "description": "Delete Package",
        "operationId": "deletePackage",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the package",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Package",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Packages"
        ],
        "summary": "Get package",
        "description": "Get Package",
        "operationId": "getPackageById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the package",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Package",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Package"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Packages"
        ],
        "summary": "Update package",
        "description": "Update Package",
        "operationId": "updatePackage",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the package",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdatePackage"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Package"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/paragraphs/{id}": {
      "delete": {
        "tags": [
          "Paragraphs"
        ],
        "summary": "Delete paragraph",
        "description": "Delete Paragraph",
        "operationId": "deleteParagraph",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the paragraph.yml",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Paragraph",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Paragraphs"
        ],
        "summary": "Get paragraph",
        "description": "Get Paragraph",
        "operationId": "getParagraphById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the paragraph.yml",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Paragraph",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Paragraph"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Paragraphs"
        ],
        "summary": "Update paragraph",
        "description": "Update Paragraph",
        "operationId": "updateParagraph",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the paragraph.yml",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateParagraph"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Paragraph"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment_links/{uuid}": {
      "delete": {
        "tags": [
          "Payment Links"
        ],
        "summary": "Delete payment link",
        "description": "Delete a payment link",
        "operationId": "deletePaymentLink",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the payment link",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "A token is not valid."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Payment Link {uuid} not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Payment Links"
        ],
        "summary": "Get payment link",
        "description": "Get a payment link by UUID",
        "operationId": "getPaymentLinkById",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the payment link",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publish_status",
            "in": "query",
            "description": "Filter payment link by publish status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "published",
                "draft"
              ],
              "default": "published"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentLink"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "A token is not valid."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Payment Link {uuid} not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Payment Links"
        ],
        "summary": "Update payment link",
        "description": "Update a payment link",
        "operationId": "updatePaymentLink",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the payment link",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publish_immediately",
            "in": "query",
            "description": "Whether to publish the payment link immediately upon update",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdatePaymentLink"
                  }
                }
              },
              "example": {
                "data": {
                  "trip": {
                    "title": "Updated London Adventure",
                    "trip_id": "TRIP21",
                    "start_date": "2026-06-01",
                    "end_date": "2026-06-08",
                    "currency": "EUR",
                    "participant_fees": "all"
                  },
                  "pricing": {
                    "price": 950,
                    "days_before_departure": 7,
                    "payment_plan": {
                      "allow_auto_payment": false,
                      "allow_partial_payment": false,
                      "deposit": 250,
                      "installments": [
                        {
                          "price": 400,
                          "days_before_departure": 45
                        },
                        {
                          "price": 300,
                          "days_before_departure": 15
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentLink"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ValidationError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "A token is not valid."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Payment Link {uuid} not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/surveys/{id}": {
      "delete": {
        "tags": [
          "Participant Information"
        ],
        "summary": "Delete question",
        "description": "Delete Survey",
        "operationId": "deleteSurvey",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the question",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Survey",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Participant Information"
        ],
        "summary": "Get question",
        "description": "Get Survey",
        "operationId": "getSurveyById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the question",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Survey",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Survey"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Participant Information"
        ],
        "summary": "Update question",
        "description": "Update Survey",
        "operationId": "updateSurvey",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the question",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateSurvey"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Survey"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}": {
      "delete": {
        "tags": [
          "Trips"
        ],
        "summary": "Delete trip",
        "description": "Delete Trip",
        "operationId": "deleteTrip",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "description": "UUID of the trip",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Trip",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ValidationError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Trip {TripID} not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Trips"
        ],
        "summary": "Get trip",
        "description": "Get a trip by UUID",
        "operationId": "getTripById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "description": "UUID of the trip",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exclude_payment_links",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Exclude payment links from the trip response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfull response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Trip"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Trip {TripID} not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Trips"
        ],
        "summary": "Update trip",
        "description": "Update Trip",
        "operationId": "updateTrip",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "description": "UUID of the trip",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateTrip"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Trip"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ValidationError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Trip {TripID} not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/discounts/{id}": {
      "delete": {
        "tags": [
          "Discounts"
        ],
        "summary": "Delete discount",
        "description": "Delete Discount",
        "operationId": "deleteV1DiscountsId",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the discount",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Discount",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Discounts"
        ],
        "summary": "Get discount",
        "description": "Get Discount",
        "operationId": "getDiscountById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the discount",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Discount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Discount"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Discounts"
        ],
        "summary": "Update discount",
        "description": "Update Discount",
        "operationId": "updateDiscount",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the discount",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateDiscount"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Discount"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/included_items/{id}": {
      "delete": {
        "tags": [
          "Included items"
        ],
        "summary": "Delete included item",
        "description": "Delete Included",
        "operationId": "deleteV1IncludesId",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the included item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Included",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Included items"
        ],
        "summary": "Get included item",
        "description": "Get Included item",
        "operationId": "getIncludedItemById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the included item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Included item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Included"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Included items"
        ],
        "summary": "Update included item",
        "description": "Update Included",
        "operationId": "updateIncludedItem",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the included item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateIncluded"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Included"
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/itineraries/{id}": {
      "delete": {
        "tags": [
          "Trip Overview"
        ],
        "summary": "Delete overview event",
        "description": "Delete Overview Event",
        "operationId": "deleteV1ItinerariesId",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the overview event",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Overview Event",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Trip Overview"
        ],
        "summary": "Get overview event",
        "description": "Get Overview Event",
        "operationId": "getItineraryById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the overview event",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Overview Event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Itinerary"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Trip Overview"
        ],
        "summary": "Update overview event",
        "description": "Update Overview Event",
        "operationId": "updateItinerary",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the overview event",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateItinerary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Itinerary"
                }
              }
            }
          }
        }
      }
    },
    "/draft_trips/{trip_uuid}/not_included_items/{id}": {
      "delete": {
        "tags": [
          "Not Included items"
        ],
        "summary": "Delete not included item",
        "description": "Delete NotIncluded",
        "operationId": "deleteV1NotIncludesId",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the not included item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete NotIncluded",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Not Included items"
        ],
        "summary": "Get not included item",
        "description": "Get NotIncluded",
        "operationId": "getNotIncludedItemById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the not included item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get NotIncluded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotIncluded"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Not Included items"
        ],
        "summary": "Update not included item",
        "description": "Update NotIncluded",
        "operationId": "updateNotIncludedItem",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the not included item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UpdateNotIncluded"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NotIncluded"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookings/orders/{order_id}/edit_payment_plan": {
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Edit payment plan for an order",
        "description": "Edit payment plan for an existing order",
        "operationId": "editPaymentPlanByOrderId",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "order identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment_plan"
                ],
                "properties": {
                  "payment_plan": {
                    "type": "object",
                    "$ref": "#/components/schemas/PaymentPlan"
                  },
                  "notification_message": {
                    "type": "string",
                    "description": "Message to be sent to the participant",
                    "example": "Hello, this is a notification message"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get Trip Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/orders/batch/edit_payment_plan": {
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Edit payment plans for multiple orders",
        "description": "Edit payment plan for an existing order",
        "operationId": "editPaymentPlanByOrderIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "batches"
                ],
                "properties": {
                  "batches": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "order_id",
                        "payment_plan"
                      ],
                      "properties": {
                        "order_id": {
                          "type": "string"
                        },
                        "payment_plan": {
                          "type": "object",
                          "$ref": "#/components/schemas/PaymentPlan"
                        },
                        "notification_message": {
                          "type": "string",
                          "description": "Message to be sent to the participant",
                          "example": "Hello, this is a notification message"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get Trip Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "successful_count": {
                      "type": "integer",
                      "example": 1
                    },
                    "failed_count": {
                      "type": "integer",
                      "example": 0
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Order not found"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lead/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "description": "Get a lead",
        "summary": "Get lead",
        "operationId": "getLead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique global ID of the lead",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a lead",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          }
        }
      }
    },
    "/lead": {
      "post": {
        "tags": [
          "Leads"
        ],
        "description": "Get a list of Leads",
        "summary": "List Leads",
        "operationId": "getLeads",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/GetLeads"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get a list of leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Lead"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookings/trips/{trip_uuid}/orders/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order",
        "description": "Get an order",
        "operationId": "getOrderById",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "description": "Trip Uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Trip Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/trips/{trip_uuid}/bookings": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "description": "Get a list of trip orders",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "description": "Trip Uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of trip orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderSummary"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookings/trips/{trip_uuid}/bookings/{buyer_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List a buyer's orders",
        "description": "Get a list of trip orders for a buyer",
        "operationId": "getOrdersByBuyer",
        "parameters": [
          {
            "name": "trip_uuid",
            "in": "path",
            "description": "Trip Uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buyer_id",
            "in": "path",
            "description": "Id of the buyer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departure_date",
            "in": "query",
            "description": "Departure date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of trip orders for a buyer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "buyer_id": {
                      "type": "integer",
                      "description": "Unique ID of the buyer",
                      "format": "int32",
                      "example": 1
                    },
                    "buyer": {
                      "$ref": "#/components/schemas/Buyer"
                    },
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/suppliers/{supplier_id}": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "description": "Get a supplier",
        "summary": "Get supplier",
        "operationId": "getSupplierById",
        "parameters": [
          {
            "name": "supplier_id",
            "in": "path",
            "description": "Supplier ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a supplier",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Supplier"
                }
              }
            }
          }
        }
      }
    },
    "/suppliers": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "description": "Get a list of suppliers",
        "summary": "List suppliers",
        "operationId": "getSuppliers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Suppliers per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Supplier"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{uuid}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction",
        "description": "Get a transaction",
        "operationId": "getTransaction",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "The unique global ID of the transaction",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions",
        "description": "Get a list of transactions",
        "operationId": "getTransactions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/GetTransactions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get a list of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/tokens/access": {
      "post": {
        "tags": [
          "Access token"
        ],
        "description": "Issue new access token",
        "summary": "Issue new access token",
        "operationId": "issueAccessToken",
        "responses": {
          "201": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment_links/{uuid}/publish": {
      "post": {
        "tags": [
          "Payment Links"
        ],
        "summary": "Publish payment link",
        "description": "Publish Payment Link",
        "operationId": "publishPaymentLink",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the payment link",
[...]
